.menu-inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box{
    width:300px;
    height:200px;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition: 500ms all;
}

.rojo{
    background-color: #c43e3a;
}
.rojo:hover{
    background-color: #c55a56;
}
.rojo span{
    color:#f0b9b7;
}
.verde{
    background-color: #5cb85c;
}
.verde:hover{
    background-color: #69c369;
}
.verde span{
    color:#9ec79e;
} 
.azul{
    background-color:#428bca;
}
.azul:hover{
    background-color:#5e9ed6;
}
.azul span{
    color:#99b7d1;
}  

.box span{
    font-size:80px;
}

.box p{
    color: white;
    font-size: 26px;
}

.titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titulo span{
    font-size: 20px;
}

.formulario{
    padding: 20px 20px 40px;
}